body {
  padding-top:65px;
  background: url('/img/bodybg.png');
  padding-bottom: 50px;
}

@media (min-width: 979px) {

  #midCol.affix-top {
      position:fixed;
      width:265px;
      margin-right:10px;
      
  }
  
  #midCol.affix {
      position:static;
      width:100%;
  }

}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:fixed;
  }
}

a.anchor-from-text {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

h4 {
  font-size: 20px;
}

ul#sidebar {
  width: 300px;
}

#sidebar li a {
  border-bottom: 1px solid #c0c0c0;
  color: #2a6496;
}

#sidebar > li:last-of-type a+ul {
  border-top: 1px solid #c0c0c0;
}

#sidebar li:last-of-type a:hover {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#sidebar > li:first-of-type a:hover {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#sidebar ul.nav li a {
  padding-left: 30px;
  font-size: 0.8em;
}

#sidebar > li:last-of-type > a:last-of-type,
#sidebar > li:last-of-type > ul > li:last-of-type > a:last-of-type {
  border-bottom: none;
}

#terra:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.75;
}
#terra {
    background: url(/img/terra.jpg) top center no-repeat;
    width: 100%;
    position: fixed;
    z-index: 0;
    height: 100%;
    top: 50px;
    left: 0px;
    background-size: cover;
}

.nav-stacked>li+li {
  margin-top: 0px;
}

.move {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.move-requires {
  font-style: italic;
  margin-bottom: 8px;
  font-size: 0.9em;
}

.move-explanation {
  border: 1px solid #eee;
  background: #fcfcfc;
  border-left-width: 5px;
  padding: 10px 0 10px 0.5em;
  margin-bottom: 10px;
}

.move-explanation p:last-of-type {
  margin-bottom: 0px;
}


.navbar-fixed-top {
  border-bottom: 1px solid #ccc;
  background: url('https://subtlepatterns.com/patterns/cork-wallet.png');
  box-shadow: 0px 0px 5px #000;
}

.navbar-brand {
  white-space: nowrap;
  font-family: 'EB Garamond', serif;
  position: relative;
  max-width: none;
  font-size: 22px;
  color: #000;
  margin-right: 20px;
}

.navbar-brand:after {
  content: attr(text);
  font-family: 'Homemade Apple', serif;
  position: absolute;
  left: 8px;
  top: 18px;
  z-index: -1;
  font-size: 0.9em;
  letter-spacing: -1.75px;
  color: #fff;
  opacity: 0.5;
}

.navbar-fixed-top .nav > li {
  margin-right: 2px;
}

.navbar-fixed-top span.caret {
  border-top: 4px solid #333;
}

.navbar-fixed-top .dropdown-menu {
  margin-top: -9px;
}

.navbar-fixed-top .nav > li a {
}

.main-content {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  z-index: 0;
}

.main-content * {
  z-index: 1;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4 {
  z-index: -1;
}

.main-content,
ul#sidebar {
  background: url('/img/bodybg.png');
  border-radius: 3px;
  box-shadow: 0px 0px 5px #333;
}

h1,h2,h3,h4 {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  position: relative;
  color: #000;
  z-index: 1;
}

h1:after, h2:after, h3:after, h4:after {
  content: attr(text);
  font-family: 'Homemade Apple';
  position: absolute;
  left: 0px;
  top: 8px;
  z-index: -1;
  font-size: 0.9em;
  letter-spacing: -1.5px;
  color: #CCC;
}

h1:after {
  left: -5px;
  opacity: 0.5;
}

h2:after {
  left: -5px;
}

h3:after {
  left: -1px;
  top: 5px;
}

@-webkit-keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.75);
  }
  100% {
    background-color: transparent;
  }
}
    
.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.credit {
  padding: 15px;
  background: #333;
  margin: 10px 20px;
  color: #eee;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #000;
}