body {
  padding-top:65px;
}

@media (min-width: 979px) {

  #midCol.affix-top {
      position:fixed;
      width:265px;
      margin-right:10px;
      
  }
  
  #midCol.affix {
      position:static;
      width:100%;
  }

}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:fixed;
  }
}

h1::before, h2::before, h3::before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}

ul#sidebar {
  width: 300px;
}

.nav-stacked>li+li {
  margin-top: 0px;
}

.move {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.move-explanation {
  border: 1px solid #eee;
  background: #fcfcfc;
  border-left-width: 5px;
  padding: 10px 0 10px 0.5em;
  margin-bottom: 10px;
}

.move-explanation p:last-of-type {
  margin-bottom: 0px;
}

.sidebar ul.nav li a {
  border-bottom: 1px solid #eee;
}

.sidebar ul.nav ul.nav li a {
  padding-left: 25px;
  font-size: 0.9em;
}

.navbar-fixed-top .nav > li {
  margin-right: 2px;
  font-family: 'EB Garamond', serif;
}

.navbar-fixed-top .nav > li a {
  font-weight: bold;
}

h1,h2,h3,h4 {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  position: relative;
  color: #000;
}

h1:before, h2:before, h3:before, h4:before {
  content: attr(text);
  font-family: 'Homemade Apple';
  position: absolute;
  left: 0px;
  top: 68px;
  z-index: -1;
  font-size: 0.9em;
  letter-spacing: -1.5px;
  color: #ECECEC;
}