<head></head><body><h1 text="Advanced Moves">Advanced Moves</h1>
<p>The following moves are available to all acolytes to take when they level up.</p>
<div class="move"><h3 text="Rapid Reload">Rapid Reload</h3>
<div class="move-description"><p>When you attempt to reload quickly roll+<abbr title="Agility: How quick you are.">Ag</abbr>. On a 10+ you reload your weapon instantly and may act instantly - reset its uses and reduce your ammo by one. On a 7-9 the same in addition to what that the GM says. On a 6- you fumble your reload.</p></div>

</div><div class="move"><h3 text="Spout Forbidden Lore">Spout Forbidden Lore</h3>
<div class="move-description"><p>When you <strong>consult your accumulated knowledge about a forbidden topic you have learned</strong>, roll+<abbr title="Intelligence: How much you know, how smart you are.">Int</abbr>. On a 10+, the GM will tell you something interesting and useful about the subject relevant to your situation. On a 7–9, the GM will only tell you something interesting—it’s on you to make it useful. Be careful, too much comfort with blasphemous knowledge can draw the eye of loyal servants of the Imperium.</p></div>

</div><div class="move"><h3 text="Hatred">Hatred</h3>
<div class="move-description"><p>Your hatred for a particular enemy of the Imperium runs deep. Each time you take this move, select one of the groups below and describe how your hatred took root. Whenever you <strong>deal damage against a hated enemy</strong>, roll an extra damage die.</p>
<ul>
<li>Xenos (choose a species)</li>
<li>Criminals</li>
<li>Daemons</li>
<li>Psykers</li>
<li>Mutants</li>
<li>Cultists</li>
</ul></div>

</div><script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>