<head></head><body><h1 text="Advanced Moves"><a class="anchor-from-text" id="advanced-moves"></a>Advanced Moves</h1>
<p>The following moves are available to all acolytes to take when they level up.</p>
<div class="move"><h3 text="Rapid Reload"><a class="anchor-from-text" id="rapid-reload"></a>Rapid Reload</h3>
<div class="move-description"><p>When you attempt to reload quickly roll+<abbr title="Agility: How quick you are.">Ag</abbr>. On a 10+ you reload your weapon instantly - reset its uses and reduce your ammo by one. On a 7-9 the same in addition to what that the GM says. On a 6- you fumble your reload.</p></div>

</div><div class="move"><h3 text="Spout Forbidden Lore"><a class="anchor-from-text" id="spout-forbidden-lore"></a>Spout Forbidden Lore</h3>
<div class="move-description"><p>Same as spout lore but you need to justify how you know that forbidden knowledge.</p></div>

</div><div class="move"><h3 text="Hatred"><a class="anchor-from-text" id="hatred"></a>Hatred</h3>
<div class="move-description"><p>Your hatred for a particular enemy of the Imperium runs deep. Each time you take this move, select one of the groups below and describe how your hatred took root. You deal an extra damage die when dealing damage against them:</p>
<ul>
<li>Xenos</li>
<li>Criminals</li>
<li>Daemons</li>
<li>Psykers</li>
<li>Mutants</li>
</ul></div>

</div><script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>