<head></head><body><h1 text="Character Creation"><a class="anchor-from-text" id="character-creation"></a>Character Creation</h1>
<h2 text="Choose a Class"><a class="anchor-from-text" id="choose-a-class"></a>Choose a Class</h2>
<p>Look at the list of classes and choose one that interests you. Your Inquisitor's retinue doesn't need two of the same type of class, so if two people want the same class talk it over like adults and compromise. Your character will be able to unlock new specialities as they level up.</p>

<blockquote class="first-person">I want to look for clues and interrogate people, so I'll pick Investigator.</blockquote>

<h2 text="Choose a Background"><a class="anchor-from-text" id="choose-a-background"></a>Choose a Background</h2>
<p>Your background describes what your character was doing before being recruited by your Inquisitor. It might not have been where your skills brought you to the attention of the Inquisitor, but it is likely. Once per session you may reroll a roll if you can describe how your background would have prepared you for this situation, using the <a href="/specialmoves#this-i-know">This I Know</a> special move.</p>

<div class="background"><h3 text="Adeptus Administratrum"><a class="anchor-from-text" id="adeptus-administratrum"></a>Adeptus Administratrum</h3>
<div class="description">Space nerds.</div>
</div><div class="background"><h3 text="Adeptus Arbites"><a class="anchor-from-text" id="adeptus-arbites"></a>Adeptus Arbites</h3>
<div class="description">Space cops.</div>
</div><div class="background"><h3 text="Adeptus Mechanicus"><a class="anchor-from-text" id="adeptus-mechanicus"></a>Adeptus Mechanicus</h3>
<div class="description">Space mechanics.</div>
</div><div class="background"><h3 text="Ecclesiarchy"><a class="anchor-from-text" id="ecclesiarchy"></a>Ecclesiarchy</h3>
<div class="description">Space priests.</div>
</div><div class="background"><h3 text="Imperial Guard"><a class="anchor-from-text" id="imperial-guard"></a>Imperial Guard</h3>
<div class="description">The Hammer of the Emperor.</div>
</div><div class="background"><h3 text="Outcast"><a class="anchor-from-text" id="outcast"></a>Outcast</h3>
<div class="description">Space criminals</div>
</div><div class="background"><h3 text=""><a class="anchor-from-text" id=""></a></h3>
<div class="description"></div>
</div>

<blockquote class="first-person">I'd like to have a religious background as someone who grew up working in a Basilica. I'll choose Ecclesiarchy.</blockquote>

<h2 text="Assign Your Stats"><a class="anchor-from-text" id="assign-your-stats"></a>Assign Your Stats</h2>
<p>You get the following stats to assign to your character: -1, -1, 0, 0, 0, +1, +1, +2. Assign each one to one of the following characteristics.</p>

<h2 text="Choose a Home World"><a class="anchor-from-text" id="choose-a-home-world"></a>Choose a Home World</h2>
<p>Your Home World will give one special move and allow you to increase one of your stats.</p>

<h3 text="Death World"><a class="anchor-from-text" id="death-world"></a>Death World</h3>
<p>Planet where everything wants to kill you.</p>
<p><strong>World Move:</strong> Death World characters gain +1 on all <a href="/specialmoves#last-breath">Last Breath</a> rolls.</p>
<p><strong>Choose one:</strong> +1 <span title="(Ag) How quick you are.">Agility</span> or +1 <span title="(T) How much of a beating you can take.">Toughness</span>, to a max of +2.</p>
<h3 text="Feral World"><a class="anchor-from-text" id="feral-world"></a>Feral World</h3>
<p>A planet with very little technology.</p>
<p><strong>World Move:</strong> </p>
<p><strong>Choose one:</strong> +1 <span title="(S) How much you can bench press.">Strength</span> or +1 <span title="(T) How much of a beating you can take.">Toughness</span>, to a max of +2.</p>
<h3 text="Forge World"><a class="anchor-from-text" id="forge-world"></a>Forge World</h3>
<p>Manufactorums cover the landscape.</p>
<p><strong>World Move:</strong> Forge World characters replace one of their d6s with a d8 when rolling <a href="/basicmoves#basic-tech-use">Basic Tech-Use</a>.</p>
<p><strong>Choose one:</strong> +1 <span title="(Int) How much you know, how smart you are.">Intelligence</span> or +1 <span title="(T) How much of a beating you can take.">Toughness</span>, to a max of +2.</p>
<h3 text="Highborn"><a class="anchor-from-text" id="highborn"></a>Highborn</h3>
<p>You are the member of a noble house, or powerful family.</p>
<p><strong>World Move:</strong> Highborn characters gain +1 to any <a href="/basicmoves#defy-danger">Defy Danger</a> or <a href="/basicmoves#parley">Parley</a> rolls that involve talking to members of the Imperium.</p>
<p><strong>Choose one:</strong> +1 <span title="(Fel) How much people like you.">Fellowship</span> or +1 <span title="(Int) How much you know, how smart you are.">Intelligence</span>, to a max of +2.</p>
<h3 text="Hive World"><a class="anchor-from-text" id="hive-world"></a>Hive World</h3>
<p>Hab blocks and cityscape cover much of this planet.</p>
<p><strong>World Move:</strong> Hive World characters gain +1 to any <a href="/specialmoves#last-breath">Last Breath</a> rolls when moving through crowds.</p>
<p><strong>Choose one:</strong> +1 <span title="(Ag) How quick you are.">Agility</span> or +1 <span title="(Per) How much you notice things.">Perception</span>, to a max of +2.</p>
<h3 text="Shrine World"><a class="anchor-from-text" id="shrine-world"></a>Shrine World</h3>
<p>This world is dedicated to the veneration of the God-Emperor and his saints.</p>
<p><strong>World Move:</strong> Shrine World characters can reroll any double 1s result once per session.</p>
<p><strong>Choose one:</strong> +1 <span title="(Fel) How much people like you.">Fellowship</span> or +1 <span title="(WS) How strong your mind is.">Willpower</span>, to a max of +2.</p>
<h3 text="Voidborn"><a class="anchor-from-text" id="voidborn"></a>Voidborn</h3>
<p>You were born in the cold of space aboard a ship.</p>
<p><strong>World Move:</strong> Voidborn gain +1 to any rolls to resist warp energy.</p>
<p><strong>Choose one:</strong> +1 <span title="(Int) How much you know, how smart you are.">Intelligence</span> or +1 <span title="(WS) How strong your mind is.">Willpower</span>, to a max of +2.</p>

<h2 text="Modify Your Stats"><a class="anchor-from-text" id="modify-your-stats"></a>Modify Your Stats</h2>
<p>Change one of your stats based on the bonus offered by your Home World.</p>

<h2 text="Set Your Max Wounds"><a class="anchor-from-text" id="set-your-max-wounds"></a>Set Your Max Wounds</h2>
<p>Your max wounds is determined by your class. If your <span title="(T) How much of a beating you can take.">Toughness</span> is positive, add that as well.</p>

<h2 text="Choose a Name"><a class="anchor-from-text" id="choose-a-name"></a>Choose a Name</h2>
<p>Select a name for your character. Make something up on your own or roll on the tables below to inspire you.</p>

<table class="table table-striped"><thead>
<tr>
<th align="left">d8</th>
<th align="left">Male</th>
<th align="left">Female</th>
<th align="left">Nickname</th>
</tr>
</thead><tbody>
<tr><td>1</td><td>Gaius</td><td>Ellyn</td><td>Shiv</td></tr>
<tr><td>2</td><td>Bragg</td><td>Fernanda</td><td>Grimshine</td></tr>
<tr><td>3</td><td>Mikkal</td><td>Xandra</td><td>Bullet</td></tr>
<tr><td>4</td><td>Ibram</td><td>Nelia</td><td>Tooth</td></tr>
<tr><td>5</td><td>Kade</td><td>Lirri</td><td>Krak</td></tr>
<tr><td>6</td><td>Othol</td><td>Dahlia</td><td>Dusk</td></tr>
<tr><td>7</td><td>Eli</td><td>Fenra</td><td>Carver</td></tr>
<tr><td>8</td><td>Lambdus</td><td>Rhia</td><td>Spider</td></tr>
</tbody></table>

<blockquote class="first-person">I'd like to go by a nickname, but I'm not sure what I want so I'll roll on the table. I rolled a 7 so I'll go by Carver.</blockquote>

<div class="credit">The format for this page is taken from Dungeon World. The Class+Home World+Background combination is adpated from Dark Heresy 2nd edition.</div><script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>