<head></head><body><h1 text="Classes"><a class="anchor-from-text" id="classes"></a>Classes</h1>
<p>Classes and groups of related moves that empower an Adept with specific skills.</p>

<h2 text="Assassin"><a class="anchor-from-text" id="assassin"></a><a href="/assassin">Assassin</a></h2>
<p>Good at fighting sneaky.</p>
<h2 text="Seeker"><a class="anchor-from-text" id="seeker"></a><a href="/seeker">Seeker</a></h2>
<p>Good at finding info.</p>
<h2 text="Warrior"><a class="anchor-from-text" id="warrior"></a><a href="/warrior">Warrior</a></h2>
<p>Good at fighting</p>
<script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>