<head></head><body><h1 text="Classes">Classes</h1>
<p>Classes and groups of related moves that empower an Adept with specific skills.</p>

<h2 text="Assassin"><a href="/assassin">Assassin</a></h2>
<p>Good at fighting sneaky.</p>
<h2 text="Seeker"><a href="/seeker">Seeker</a></h2>
<p>Good at finding info.</p>
<h2 text="Tactician"><a href="/tactician">Tactician</a></h2>
<p>You see the battlefield more clearly than most, and can use this insight to help you and your allies.</p>
<h2 text="Templar"><a href="/templar">Templar</a></h2>
<p>You are the embodiment of the Emperor's vengeance and Wrath is your currency.</p>
<script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>