<head></head><body><h1 text="Classes"><a class="anchor-from-text" id="classes"></a>Classes</h1>
<p>Classes and groups of related moves that empower an Adept with specific skills.</p>

<h2 text="Assassin"><a class="anchor-from-text" id="assassin"></a><a href="/assassin">Assassin</a></h2>
<p>Good at fighting sneaky.</p>
<h2 text="Seeker"><a class="anchor-from-text" id="seeker"></a><a href="/seeker">Seeker</a></h2>
<p>Good at finding info.</p>
<h2 text="Tactician"><a class="anchor-from-text" id="tactician"></a><a href="/tactician">Tactician</a></h2>
<p>You see the battlefield more clearly than most, and can use this insight to help you and your allies.</p>
<script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>