<head></head><body><h1 text="Playing the Game">Playing the Game</h1>
<h2 text="The Setting">The Setting</h2>
<p>It is the 41st Millennium. For more than a hundred centuries the Emperor of Mankind has sat immobile on the Golden Throne of Earth. He is the master of mankind by force of will and master of a million worlds by the might of His inexhaustible armies. He is a rotting carcass writhing invisibly with power from the Dark Age of Technology. He is the Carrion Lord of the vast Imperium of Man for whom a thousand souls are sacrificed every day so that He may never truly die.</p>

<p>Yet even in His deathless state, the Emperor continues His eternal vigilance. Mighty battlefleets cross the daemon-infested miasma of the Warp, the only route between distant stars, their way lit by the Astronomican, the psychic manifestation of the Emperor's will. Vast armies give battle in His name on uncounted worlds. Greatest amongst His soldiers are the Adeptus Astartes, the Space Marines, bio-engineered super-warriors. Their comrades in arms are legion: the Imperial Guard and countless planetary defence forces, the ever-vigilant Inquisition and the Tech-priests of the Adeptus Mechanicus to name only a few. But for all their multitudes, they are barely enough to hold off the ever-present threat to humanity from aliens, heretics, mutants -- and far, far worse.</p>

<p>To be a man in such times is to be one amongst untold billions. It is to live in the cruelest and most bloody regime imaginable. These are the tales of those times. Forget the power of technology and science, for so much has been forgotten, never to be relearned. Forget the promise of progress and understanding, for in the grim dark future there is only war. There is no peace amongst the stars, only an eternity of carnage and slaughter, and the laughter of thirsting gods.</p>

<h2 text="The Mission">The Mission</h2>
<p>Players play as members of the Inquisition, acolytes to an Inquisitor.</p>

<h2 text="The Game as a Conversation">The Game as a Conversation</h2>
<p>Powered by Heresy is played like a conversation at the table; somebody says something, then you reply, maybe someone else chimes in. We talk about the fiction-the world of the characters and the things that happen around them. As we ply, the rules chime in, too. They have something to say about the world. There are no turns or rounds in Powered by Heresy, no rules to say whose turn it is to talk. Instead players take turns in the natural flow of the conversation, which always has some back-and-forth. The GM says something, the players respond. The players ask questions or make statements, the GM tells them what happens next.</p>

<p>The rules help shape the conversation of play. While the GM and the players are talking, the rules and the fiction are talking, too. Every rule has an explicit fictional trigger that tells you when it is meant to come into the conversation.</p>

<p>Like any conversation, the time you spend listening is just as important as the time you spend talking. The details established by the other people at the table (the GM and the other players) are important to you: they might change what moves you can make, set up an opportunity for you, or create a challenge you have to face. The conversation works best when we all listen, ask questions, and build on each other's contributions.</p>

<h2 text="Making Moves">Making Moves</h2>
<p>The most basic unit of rules in Powered by Heresy is the move. A move looks like this:</p>

<blockquote><p>When you <strong>attack an enemy in melee</strong>, roll+<abbr title="Weapon Skill: How well you can hit things.">WS</abbr>. On a 10+, you deal your damage to the enemy and avoid their attack. At your option, you may choose to roll an extra damage die but expose yourself to the enemy's attack. On a 7-9, you deal your damage to the enemy and the enemy makes an attack against you.</p></blockquote>

<p>Moves are rules that tell you when they trigger and what effect they have. A move depends on a fictional action and always has some fictional effect. “Fictional” means that the action and effect come from the world of the characters we're describing. In the move above the trigger is “when you attack an enemy in melee.” The effect is what follows: a roll to be made and differing fictional effects based on the outcome of the roll.</p>

<p>When a player describes their character doing something that triggers a move, that move happens and its rules apply. If the move requires a roll, its description will tell you what dice to roll and how to read their results.</p>

<p>A character can't take the fictional action that triggers a move without that move occurring. For example, if Isaac tells the GM that his character dashes past a crazed axe-wielding ganger to the open door, he makes the <a href="/basicmoves#defy-danger">Defy Danger</a> move because its trigger is “when you act despite an imminent threat.” Isaac can't just describe his character running past the orc without making the <a href="/basicmoves#defy-danger">Defy Danger</a> move and he can't make the <a href="/basicmoves#defy-danger">Defy Danger</a> without acting despite an imminent threat or suffering a calamity. The moves and the fiction go hand-in-hand.</p>

<p>Everyone at the table should listen for when moves apply. If it's ever unclear if a move has been triggered, everyone should work together to clarify what's happening. Ask questions of everyone involved until everyone sees the situation the same way and then roll the dice, or don't, as the situation requires.</p>

<p>The GM's enemies, NPCs, and other assorted heresies also have moves, but they work differently.</p>

<h3 text="Moves and Dice">Moves and Dice</h3>
Most moves include the phrase “roll+x” where “x” is one of your character's statistics (<abbr title="Toughness: How much of a beating you can take.">T</abbr> for example). Each statistic has its own short form, for example <span title="(Fel) How much people like you.">Fellowship</span> is shortened to <abbr title="Fellowship: How much people like you.">Fel</abbr>. Unless the move tells you otherwise, that “roll” always means that you roll two six-sided dice and add their results to the value of the statistic. Some moves will have you add some other value to your roll instead of an ability modifier.

<blockquote class="first-person">I'm making a move that asks me to roll+<abbr title=" !stat s: undefined">undefined</abbr> and my <span title="(undefined) undefined"> !stat s</span> is +1. I rolled two six-sided dice, got a one and a four. My total is six.</blockquote>

<p>The results always fall into three basic categories. A total of 10 or higher (written 10+) is the best outcome. A total of 7–9 is still a success but it comes with compromises or cost. A 6 or lower is trouble, but you also get to mark XP.</p>

<p>Each move will tell you what happens on a 10+ and a 7–9. Most moves won't say what happens on a 6-, that's up to the GM but you also always mark XP.</p>

<p>Damage rolls work differently.</p>

<h3 text="Moves and Equipment">Moves and Equipment</h3>
<p>The most important role of a character's equipment is to help describe the moves they make. A character without a weapon of some sort isn't going to trigger the <a href="/basicmoves#hack-and-slash">Hack and Slash</a> move when fighting a Chaos Space Marine since a bare-knuckle punch really doesn't do much to ceramite power armor. It doesn't count for the purposes of triggering the move.</p>

<p>Likewise, sometimes equipment will avoid triggering a move. Climbing a sheer icy cliff will usually trigger <a href="/basicmoves#defy-danger">Defy Danger</a>, but with a good set of climbing gear you might be able to avoid the imminent danger or calamity that triggers the move.</p>

<p>Weapons are particularly likely to modify what moves you can trigger. A character with a dagger can easily stab the ganger she's wrestling on the ground, triggering <a href="/basicmoves#hack-and-slash">Hack and Slash</a>, but the character with a halberd is going to have a much harder time bringing it to bear on such a close foe.</p>

<p>Items and gear of every sort have tags. Tags are terms to describe things. Some tags have a specific effect on the rules (things like extra damage or a bonus to a certain move or stat). Other tags are purely about the fiction (like the close tag, which describes the length of a weapon and how near your enemies need to be for you to attack them). Tags help you describe your character's actions when the items are being used and they give the GM information about how the items you're using might go wrong or cause complications when you fail a roll.</p>

<h3 text="The Effects of Moves">The Effects of Moves</h3>
<p>The effects of moves are always about the galaxy the characters inhabit. A 10+ on <a href="/basicmoves#hack-and-slash">Hack and Slash</a> doesn't just mean the mechanical effects happen, it means you successfully attacked something and did some type of harm to it.</p>

<p>Once you've figured out what the effects of the move are, apply them to the fiction and go back to the conversation. Always return to what's going on in the game.</p>

<p>Some moves have immediate mechanical effects, like dealing damage, inflicting wounds, or giving someone a bonus to their next roll. These effects are always a reflection of the fictional world the characters are in; make sure to use the fiction when describing the effects of the move.</p>

<h4 text="Some moves...">Some moves...</h4>

<p>Use the phrase “<strong>deal damage</strong>.” Dealing damage means you'll be rolling a certain number of dice against a targets <em>defense</em>. For every die that beats their defense, you inflict a wound.</p>

<p>Use the phase "<strong>inflict wound(s)</strong>." These moves ignore the defense of the target and immediately inflict one or more wounds, bringing the target closer to death.</p>

<p>Say “take <strong>+1 forward</strong>.” That means to take +1 to your next move roll (not damage). The bonus can be greater than +1, or even a penalty, like -1. There also might be a condition, such as “take +1 forward to <a href="/basicmoves#hack-and-slash">Hack and Slash</a>,” in which case the bonus applies only to the next time you roll <a href="/basicmoves#hack-and-slash">Hack and Slash</a>, not any other move.</p>

<p>Say “take <strong>+1 ongoing</strong>.” That means to take +1 to all move rolls (not damage). The bonus can be larger than +1, or it can be a penalty, like -1. There also might be a condition, such as “take +1 ongoing to <a href="/basicmoves#fire-for-effect">Fire for Effect</a>.” An ongoing effect also says what causes it to end, like “until you take damage” or “until you pray to the God-Emperor.”</p>

<p>Say "roll with <strong>advantage</strong>." That means to roll 3d6 instead of 2, and take the two highest rolls.</p>

<p>Say "roll with <strong>edge</strong>." That means that after you roll the move, you may choose to reroll one of the die.</p>

<p>Say "<strong>reroll</strong>." That means you take all the dice you just rolled for a move and roll them all again. You use the same modifiers as the first roll, including any +x forwards, and the second result stands.</p>

<p>Give you “<strong>hold</strong>.” Hold is currency that allows you to make some choices later on by spending the hold as the move describes. Hold is always saved up for the move that generated it; you can't spend your hold from <a href="/basicmoves#defend">Defend</a> on <a href="/basicmoves#discern-realities">Discern Realities</a> or vice versa, for example.</p>

<p>Present a <strong>choice</strong>. The choice you make, like all move effects, dictates things that happen in the fiction in addition to any more mechanical effects. The choice you make on the 10+ result of hack and slash to deal more damage at the cost of opening yourself up is exactly what's happening to your character: they have enough advantage that they can stay safe or push their luck.</p>

<p>Give you a chance to say something about your character and their history. When you <a href="/advancedmoves#spout-forbidden-lore">Spout Forbidden Lore</a> you may get asked how you know the information that the GM reveals. Take that opportunity to contribute to the history of part of the galaxy and show who your character really is. Just keep in mind the established facts of the Warhammer 40k universe and don't contradict anything that's already been described. If you aren't sure if something makes sense in 40k, ask the GM.</p>

  <p>Say “<strong>mark XP</strong>.” That means you add one to your current XP total.</p>

<h2 text="Damage and Wounds">Damage and Wounds</h2>
<p>This document is a work in progress. All numbers, and the entire system, are subject to change.</p>

<p>Characters in the game take damage, which can sometimes inflict wounds. When a character's current wounds meets or exceeds their max wounds, they die.</p>

<p>There are ways to heal characters and remove their current wounds - surgery, rest, chemicals.</p>

<h3 text="Damage">Damage</h3>
<ul>
  <li>Damage is given by people, environment, weapons, poison, etc</li>
  <li>Damage is not guaranteed to inflict wounds</li>
  <li>Whether damage inflicts a wound depends on your defense</li>
</ul>

<h3 text="Wounds">Wounds</h3>
<ul>
  <li>A creature has a certain number of max wounds they can take before they die</li>
  <li>A wound is significant damage, not just scrapes and bruises</li>
  <li>Wounds can be healed, but can easily leave scars</li>
  <li>reatures have Current Wounds and Max Wounds</li>
</ul>

<h3 text="Defense">Defense</h3>
<ul>
  <li>Your Defense is a number that represents your ability to withstand damage without suffering wounds</li>
  <li>It's a single tally that incorporates things like armor, reflexes, cover, shields, and even luck, or faith.</li>
  <li>Your Defense can change from attack to attack based on your physical state, the type of attack, your surroundings, etc</li>
</ul>

<h3 text="Dealing Damage and Inflicting Wounds">Dealing Damage and Inflicting Wounds</h3>
<ul>
  <li>When you deal damage, you roll all the relevant dice of your weapon, as well as any bonus dice afforded to you from moves, equipment, or buffs</li>
  <li>After you have rolled your dice, you may roll extra dice or reroll some dice based on special rules you have</li>
  <li>Once you are done rolling, count all the dice that are higher than the Defense of your target</li>
  <li>That number is how many wounds you inflict</li>
</ul>

<h3 text="Taking Damage and Suffering Wounds">Taking Damage and Suffering Wounds</h3>
<ul>
  <li>This works the same as Dealing Damage and Inflicting Wounds but in reverse</li>
  <li>Roll the dice for the damage you are receiving</li>
  <li>Reroll any dice or extra dice as needed</li>
  <li>Count the number of dice that are higher than your Defense</li>
  <li>That number is how many wounds you suffer</li>
</ul>

<h3 text="Example of Damage Dealing">Example of Damage Dealing</h3>
<ul>
  <li>Griff shoots his shotgun at a cultist named Scar</li>
  <li>Griff's shotgun deals 2d6 damage and has the tag Proven (2)</li>
  <li>Griff rolls his damage and gets a 1 and a 3</li>
  <li>The Proven (2) tag lets Griff reroll any roll of 2 or lower once</li>
  <li>Griff rerolls his 1 and gets a 5</li>
  <li>Griff's final result is a 5 and a 3</li>
  <li>The cultist has a defense of 3</li>
  <li>Griff causes 1 wound to Scar</li>
</ul>

<h3 text="Example Wounds and Defense">Example Wounds and Defense</h3>
<p>A human with civilian clothes and no training or combat experience would have Max Wounds of 3 and Defense of 1</p>
<p>An Imperial Guardsman wearing Flak Armor would have Defense 3 and Max Wounds 3</p>
<p>An Adeptus Astartes with Power Armor would have Defense 6 and Max Wounds 8</p>

<h3 text="Dying">Dying</h3>
<p>When your current wounds reaches or exceeds your max wounds, you are dying and roll for <a href="/specialmoves#last-breath">Last Breath</a>. Some dangers instantly have you roll for <a href="/specialmoves#last-breath">Last Breath</a>, completely bypassing damage and wounds.</p>

<h3 text="Improving Defense">Improving Defense</h3>
<p>Here are some things that can improve defense.</p>
<ul>
  <li>Flak Armor: +1 Defense</li>
  <li>Good cover: +1 Defense against ranged attacks</li>
  <li>Parry skill: +1 Defense against melee attacks</li>
  <li>Power armor: +2 Defense</li>
  <li>Adeptus power armor: +3 Defense</li>
  <li>Uncanny reflexes: +1 Defense</li>
</ul>

<h3 text="Healing Wounds">Healing Wounds</h3>
<ul>
  <li>You can reduce your wounds by 1 or by getting medical attention</li>
  <li>One day of rest will reduce your current wounds by 1</li>
  <li>One day of rest under the care of a talented medical team will reduce your current wounds by 2</li>
  <li>A medkit applied properly will heal 1 wound</li>
</ul>

<h2 text="Character Change">Character Change</h2>
<p>The Imperium of Man is ever-changing. The characters change, too. As their adventures progress, player characters gain experience (XP), which lets them level up. This prepares them for greater danger, bigger adventures, and mightier deeds.</p>

<p>Advancement, like everything else in Powered by Heresy, is both prescriptive and descriptive. Prescriptive means that when a player changes their character sheet the character changes in the fiction. Descriptive means that when the character changes in the fiction the player should change the character sheet to match.</p>

<p></p>This isn’t a benefit or detriment to the players or the GM; it’s not an excuse to gain more powers or take them away. It’s just a reflection of life in Powered by Heresy.<p></p>

<p>Descriptive changes only happen when the character has clearly gained access to an ability. It’s not up to any one player to decide this—if you think a character qualifies for a new ability, discuss it as a group.</p>

<h3 text="Level Up">Level Up</h3>
As you play Powered by Heresy, you’ll be doing two things most of all: investigating threats to the Imperium, vanquising the heresies you discover, and collecting information and artefacts for the Inquisition. For each of these things you’ll be rewarded XP at the end of the session. Acting according to your drive and fulfilling the conditions of your drive moves will grant you XP at the end of each session as well. If you resolve a bond and create a new one, you’ll gain XP, too. When you activate another player's flag, that earns you XP. Any time you roll a 6- you get XP right away. The GM may have special conditions that you can fulfill to earn XP or might change the core ones to reflect the world. They’ll let you know before you play.<p></p>

<p>When your characters have safety and a chance to rest, they’ll be able to make the <a href="/basicmoves#error-options">ERROR! options</a> move to level up and gain new moves.</p>

<h4 text="Multiclass Moves">Multiclass Moves</h4>

<p>The multiclass moves allow you to gain moves from another class. You get to choose any move of your level or lower. For the purpose of multiclassing, any starting class moves that depend on each other count as one move—the wizard’s cast a spell, spellbook, and prepare spells for example. If a move from another class refers to your level, count your levels from the level where you first gained a move from that class.</p><p>

</p><h4 text="Requires and Replaces">Requires and Replaces</h4>

<p>Some moves that you gain at higher levels depend on other moves. If another move is listed along with the word Requires or Replaces you can only gain the new move if you have the listed move.</p>

<p>A move that requires another move can only be taken if you have the move it requires already. You then have both moves and they both apply.</p>

<p>A move that replaces another move can only be taken if you have the move it replaces already. You lose access to the replaced move and just have the new one. The new move will usually include all the benefits of the replaced one: maybe you replace a move that gives you 1 armor with one that gives you 2 armor instead.</p>

<h4 text="Upgrading Stats">Upgrading Stats</h4>
<p>Each time you level up you'll be able to increase one of your statistics by 1. You can only increase a stat from +2 to +3 once after reach level 3, once after level 6, and once after level 9. You don't need to do this increase immediately; you can increase your <span title="(BS) How well you can shoot.">Ballistic Skill</span> from +1 to +2 at level 3 and then increase it from +2 to +3 at level 4.</p><script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>