<head></head><body><div class="section">
<h1 text="Seeker"><a class="anchor-from-text" id="seeker"></a>Seeker</h1>
<p>Good at finding info.</p>
</div>

<div class="section">
<h2 text="Stats"><a class="anchor-from-text" id="stats"></a>Stats</h2>
<p>Your starting Max Wounds is 6. If your <span title="(T) How much of a beating you can take.">Toughness</span> is positive, add that as well.</p>
<p>Your load is 10+<abbr title="Strength: How much you can bench press.">S</abbr>.</p>
</div>

<div class="section">
<h2 text="Look"><a class="anchor-from-text" id="look"></a>Look</h2>
<p>Choose one of each:</p>
<ul>
  <li>Distrusting eyes, kind eyes, tired eyes</li><li>Helmeted head, military cut, or bald</li><li>Plain clothes, worn outfit, or uniform</li><li>Thin body, fit body, flabby body</li>
</ul>
</div>

<div class="section">
<h2 text="Drive"><a class="anchor-from-text" id="drive"></a>Drive</h2>
<div class="drives">
  
</div>
</div>

<div class="section">
<h2 text="Starting Moves"><a class="anchor-from-text" id="starting-moves"></a>Starting Moves</h2>
<p>You get these moves.</p>
<div class="move"><h3 text="Confessor"><a class="anchor-from-text" id="confessor"></a>Confessor</h3>
<div class="move-description"><p>When you interrogate someone to extract information from them roll+<abbr title="Fellowship: How much people like you.">Fel</abbr>. On a 7-9 they answer your questions and you choose 2. On a 10+ choose 1 instead.</p>
<ul>
<li>They only answer one question</li>
<li>Their answers are vague</li>
<li>They resist for longer than you'd planned before they begin to cooperate</li>
<li>They attract the attention of those nearby</li>
</ul></div>

</div><div class="move"><h3 text="Detective"><a class="anchor-from-text" id="detective"></a>Detective</h3>
<div class="move-description"><p>When you get a 7+ using <a href="/basicmoves#discern-realities">Discern Realities</a> on a crime scene you also find a clue of value to you. On a 10+ this clue gives you a hunch that the GM will describe.</p></div>

</div><div class="move"><h3 text="Take Them Alive"><a class="anchor-from-text" id="take-them-alive"></a>Take Them Alive</h3>
<div class="move-description"><p>If you successfully hit a vulnerable opponent and attempt to disable them instead of dealing damage. roll+<abbr title="ERROR in getStatistic: undefined">undefined</abbr>. On a 7+ they are incapacitated. On a 7-9 choose 1:</p>
<ul>
<li>They get one last attack in</li>
<li>They will need some time to recover to be of any use</li>
</ul></div>

</div></div>

<div class="section">
<h2 text="Advanced Moves"><a class="anchor-from-text" id="advanced-moves"></a>Advanced Moves</h2>
<p>Whenever you level up you can take one of the following moves, or one of the moves from the general Advanced Moves list.</p>
<div class="move"><h3 text="This One's Mine"><a class="anchor-from-text" id="this-ones-mine"></a>This One's Mine</h3>
<div class="move-description"><p>When you call out a target as your own, you deal +2d4 ongoing to them. This lasts until an ally attacks them, you attack someone else, or the target is defeated. While this is active you deal -4 damage to other targets and your allies deal -2 damage to your named target.</p></div>

</div><div class="move"><h3 text="Torturer"><a class="anchor-from-text" id="torturer"></a>Torturer</h3>
<div class="move-description"><p>When you roll a 7+ with <a href="/seeker#confessor">Confessor</a> you may choose to select zero options from the list. If you do so, roll+Int – on a 6- your captive dies.</p></div>

</div></div><script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>