<head></head><body><h1 text="Special Moves"><a class="anchor-from-text" id="special-moves"></a>Special Moves</h1>
<div class="move"><h3 text="This I Know"><a class="anchor-from-text" id="this-i-know"></a>This I Know</h3>
<div class="move-description"><p>Once per session, you may <strong>invoke your Background to reroll a move</strong>. To invoke your Background you must describe how your character's experience or a specific event related to your Background would have helped you in the current situation. The GM and the players at the table have to agree, so the more details the better.</p></div>

</div><div class="move"><h3 text="End of Session"><a class="anchor-from-text" id="end-of-session"></a>End of Session</h3>
<div class="move-description"><p>When you <strong>reach the end of a session</strong>, choose one of your bonds that you feel is resolved (completely explored, no longer relevant, or otherwise). Ask the player of the character you have the bond with if they agree. If they do, mark XP and write a new bond with whomever you wish.</p>
<p>If you invoked your background with the <a href="/specialmoves#this-i-know">This I Know</a> move this session, mark XP.</p>
<p>Once bonds have been updated look at your alignment or drive. If you fulfilled that alignment or drive at least once this session, mark XP. Then answer these three questions as a group:</p>
<ul>
<li>Did we learn something new and important to the Inquisition?</li>
<li>Did we overcome a notable enemy?</li>
<li>Did we acquire a notable artifact that will be valuable to the Inquisition?</li>
</ul>
<p>For each "yes" answer everyone marks XP.</p></div>

</div><div class="move"><h3 text="Recover"><a class="anchor-from-text" id="recover"></a>Recover</h3>
<div class="move-description"><p>When you do nothing but rest in comfort and safety after a day of rest you recover half your max wounds.</p></div>

</div><div class="move"><h3 text="Last Breath"><a class="anchor-from-text" id="last-breath"></a>Last Breath</h3>
<div class="move-description"><p>When <strong>you're dying</strong> you see the darkness cloud your vision as you drift into death. Describe what thoughts or prayers spur you on and roll (don't add any stats).</p>
<ul>
<li>On a 10+ you've defied the odds, and barely cling to life.</li>
<li>On a 7-9 you live, but your brush with death takes its toll. Describe the lasting effects your body or mind take and the GM will tell you which of your statistics you must reduce permanently by 1.</li>
<li>On a 6-, you join the seemingly endless stream of souls to have been lost under the rule of the Imperium.</li>
</ul></div>

</div><div class="move"><h3 text="Encumbrance"><a class="anchor-from-text" id="encumbrance"></a>Encumbrance</h3>
<div class="move-description"><p>When you make a move while carrying weight you may be encumbered. If your weight carried is:</p>
<ul>
<li>Equal to or less than your load, you suffer no penalty</li>
<li>Less than or equal to your load+2, you take -1 ongoing until you lighten your burden</li>
<li>Greater than your load+2, you have a choice: drop at least 1 weight and roll at -1, or automatically fail</li>
</ul></div>

</div><script class="jsdom" src="http://code.jquery.com/jquery.min.js"></script></body>